/* HTML BODY */
html,
body {
  height: 100%;
}

body {
  color: black;
  background-color: rgb(147, 238, 177);
  margin: 0%;
}

h1 {
  color: rgb(76, 179, 128);
  font-size: 75px;
  text-align: center;
  max-width: 50%;
  margin: 20px auto;
}

/* END HTML BODY */

/* NAVBAR */
.navbar {
  background-color: rgb(147, 238, 177);
  font-size: x-large;
  width: 100%;
  text-align: center;
  border-bottom: 2px solid rgb(134, 232, 167);
}
.navbar:hover {
  font-size: x-large;
  width: 100%;
  text-align: center;
}
.navbar a {
  color: white;
  color: rgb(76, 179, 128);
  text-decoration: none;
  padding-right: 40px;
}
.navbar a:hover {
  color: rgb(147, 238, 177);
  color: white;
}
/* END NAVBAR*/

/* INDEX */
.index-desc {
  background-color: rgb(76, 179, 128);
  color: white;
  font-size: x-large;
  text-align: center;
  max-width: 50%;
  margin: 20px auto;
  padding: 50px;
  border-radius: 10px;
}

/* END INDEX */

/* PERSONA */
.persona-bio {
  background-color: rgb(85, 194, 139);
  color: white;
  font-size: large;
  text-align: center;
  max-width: 50%;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
}

.persona-bio ul {
  display: inline-block;
  list-style-position: inside;
}

.persona-story {
  background-color: rgb(76, 179, 128);
  color: white;
  font-size: large;
  text-align: center;
  max-width: 50%;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
}

.persona-story h1 {
  text-decoration: underline;
}

.persona-story ul {
  text-align: start;
  display: inline-block;
  list-style-position: inside;
  margin: 0px;
  font-size: large;
}
/* END PERSONA */

/* SCENARIO */
.scenario {
  background-color: rgb(76, 179, 128);
  color: white;
  font-size: large;
  text-align: center;
  max-width: 50%;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
}
/* END SCENARIO */

/* MOODBOARD */
.moodboard {
  display: flex;
  width: 100%;
  height: 100%;
}
.moodboard img {
  text-align: center;
}
/* END MOODBOARD */
